* {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    margin: 0;
}
html {
    min-height: 100vh;
}
/*Remove underline and colors*/
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/*Title styles*/
.header-title a, .header-title a:hover, .header-title a:visited {
    color: black;
}

h1.header-title {
    font-size: 3em;
    margin: 10px;
}

.header-title a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-title a img {
    width: 50px;
}

/*Navigation styles*/
.navigation {
    width: 100%;
    margin: 10px 0;
}
.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.navigation ul li {
    list-style: none;
    width: 10%;
    background: #4A90E2;
    text-align: center;
    
    border-radius: 5px;
}

.navigation ul li a {
    color: black;
    padding: 10px 0;
    width: 100%;
    color: white;
    display: block;
}

/*Footer CSS*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer > p {
    text-align: center;
}

.verse {
    font-size: 1.2em;
    margin: 10px;
}
.v-title {
    font-size: 1.3em;
}