* {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    margin: 0;
}
html {
    background-image: linear-gradient(#cfd9df, #e2ebf0);
    background-repeat: no-repeat;
    min-height: 100vh;
}
/*Remove underline and colors*/
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/*Title styles*/
.header-title a, .header-title a:hover, .header-title a:visited {
    color: black;
}

h1.header-title {
    font-size: 3em;
    margin: 10px;
}

.header-title a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-title a img {
    width: 50px;
}

/*Navigation styles*/
.navigation {
    width: 100%;
    margin: 10px 0;
}
.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.navigation ul li {
    list-style: none;
    width: 10%;
    background: lightblue;
    text-align: center;
    
    border-radius: 5px;
}

.navigation ul li a {
    color: black;
    padding: 10px 0;
    width: 100%;
    display: block;
}

/*Login form*/
.index-main {
    margin-top: 30px;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form h2 {
    text-align: center;
    font-size: 2em;
    margin: 20px;
}
.login-form {
    margin: 10px;
    height: 75%;
    width: 40%;
    background-color: #869faf;
    border-radius: 10px;
}

.login-form > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
}

.login-form div div {
    width: fit-content;
    margin: 10px;

    & > label {
        text-align: left;
        display: block;
        font-size: 1.5em;
    }
    & > input {
        text-align: left;
        font-size: 1.5em;
    }
}

.login-form > div > input {
    margin: 10px;
    font-size: 1.5em;
    background-color: lightblue;
    border: none;
    padding: 5px 10px;
}

/*Footer CSS*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer > p {
    text-align: center;
}

.verse {
    font-size: 1.2em;
    margin: 10px;
}
.v-title {
    font-size: 1.3em;
}