#play-page-layout {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 75vh;
}
#controls {
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#play-page-layout .player-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-box {
    border-left: 1px solid black;
    height: 100%;
    max-height: 100%;
}

#play-page-layout h3 {
    text-align: center;
    margin: 5px;
    font-size: 1.25em;
}

.chat-header {
    border-top: 1px solid black;
}
#chat {
    background-color: rgb(230, 230, 230);
    overflow-y: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 55vh;
}
.chat-message {
    margin: 10px 5px;
    font-style: italic;
}
#board {
    width: 60%;
    aspect-ratio: 1/1;
    border: black 1px solid;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
}
.room {
    grid-row: auto / span 6;
    grid-column: auto / span 6;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    text-align: center;
}
.door {
    border: 3px solid #386da8;
}

.hall:hover, .door:hover {
    background-color: #eaeaea;
}

.void {
    border: 1px solid black;
    background-color: black;
    grid-column: 10 / 16;
    grid-row: 10 / 16;
}

.clinic {
    grid-column: 1 / 7;
    grid-row: 1 / 7;
}

.dr-office {
    grid-column: 10 / 16;
    grid-row: 1 / 7;
}

.dir-office {
    grid-column: 19 / 25;
    grid-row: 1 / 7;
}

.lab {
    grid-column: 1 / 7;
    grid-row: 10 / 16;
}

.icu {
    grid-column: 19 / 25;
    grid-row: 10 / 16;
}

.op {
    grid-column: 1 / 7;
    grid-row: 19 / 25;
}

.lobby {
    grid-column: 10 / 16;
    grid-row: 19 / 25;
}

.mri {
    grid-column: 19 / 25;
    grid-row: 19 / 25;
}

.hall {
    border: 1px solid black;
    grid-row: span 1;
    grid-column: span 1;
}

main h1 {
    text-align: center;
}

#controls .secret-info ul {
    font-size: 1.25em;
    line-height: 1.25em;
}

#controls .rolling {
    border-top: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & > button {
        width: 40%;
        aspect-ratio: 3 / 1;
        border-radius: .15em;
        margin: 20px;
    }
    & > p {
        font-size: 1.5em;
    }
}

.guessing {
    border-top: 1px solid black;
}
.guessing form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}
.guessing form div {
    font-size: 1.25em;
    text-align: left;
}
.guessing form div label {
    width: 30%;
    display: inline-block;
    margin: 10px 10px 10px 20px;
}
.guessing form div select {
    width: 50%;
    padding: 10px 0;
}
.guessing form p {
    text-align: center;
}
.guessing form input {
    margin: 10px 0 0 0;
    text-align: center;
    width: 40%;
    padding: 10px 0;
    border-radius: .15em;
}

/*Open modal buttons*/
#open-controls {
    background-color: #4A90E2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#open-chat {
    background-color: #4A90E2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

@media only screen and (max-width: 1024px){
    #play-page-layout {
        grid-template-columns: 3fr;
        grid-template-rows: 1fr;
        height: fit-content;
    }


    #chat-box {
        display: none;
    }

    #board {
        width: 90%;
    }

    .room {
        font-size: .75em;
        text-align: center;
    }

    /*CSS for controls*/
    #controls {
        display: none;
        max-height: 100vh;
        background-color: #ffffffee;
        position: fixed;
        border-bottom: 1px solid black;
        min-width: 40%;
        top: 0;
    }

    #controls.modal {
        display: grid;
    }
    #close-controls {
        border: none;
        background: none;
        display: inline-block;
    }
    #close-controls::after {
        content: "\00d7";
        color: red;
        font-weight: 500;
        font-size: 1.25em;
    }
    #close-chat {
        border: none;
        background: none;
        display: inline-block;
        width: fit-content;
    }
    #close-chat::after {
        content: "\00d7";
        color: red;
        font-weight: 500;
        font-size: 1.25em;
    }

    #controls .secret-info ul {
        font-size: 1em;
        line-height: 1.25em;
    }

    #controls .rolling {
        & > button {
            width: 40%;
            aspect-ratio: 5 / 1;
            border-radius: .15em;
            margin: 10px;
        }
        & > p {
            font-size: 1em;
        }
    }
    .guessing form div {
        font-size: 1em;
    }
    .guessing form div label {
        width: 30%;
        display: inline-block;
        margin: 0 10px 0 20px;
    }
    .guessing form div select {
        width: 50%;
        padding: 2px 0;
    }
    .guessing form input {
        margin: 5px 0 ;
        text-align: center;
        width: 40%;
        padding: 2px 0;
        border-radius: .15em;
    }
    .modal-buttons {
        display: flex;
        justify-content: space-evenly;
        margin: 5px;
    }
    /*Chat window*/
    #chat-box {
        display: none;
        max-height: 100vh;
        background-color: #ffffffee;
        position: fixed;
        border-bottom: 1px solid black;
        right: 0;
        top: 0;
        border-top: 1px solid black;
        min-width: 40%;
    }
    #chat-box.modal {
        display: block;
    }
}

@media (orientation: landscape) {
    /*CSS for controls*/
    #controls {
        font-size: .75em;
    }
}