.join-room {
    width: 75%;
    border: solid black 1px;
    border-radius: 15px;
    height: 50vh;
    margin: 30px auto;
    text-align: center;
}

.available-rooms {
    width: 75%;
    height: 70%;
    background-color: #dddddd;
    margin: 30px auto;
    border-radius: 10px;
}

.join-room button {
    border-radius: 5px;
}